# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore database files
*.db

# Ignore created json files
*.json
# Ignore created csv files
*.csv

# Ignore JSON beam-temp files
beam-temp-*

# Ignore virtual environment directory
venv/
